  </body>
  <footer>
    <div class="input-home">
      <a href="/"><i style="font-size:30px" class="fa fa-home home"></i></a>
    </div>
    <div class="input-new">
      <a href="/posts/new"><i style="font-size:30px" class="fa new">&#xf0fe;</i></a>
    </div>
  </footer>
</html>
