  </body>
  <div class="nav">
    <footer>
        <a href="/"><i style="font-size:30px" class="fa fa-home"></i></a>
        <a href="/posts/new"><i style="font-size:30px" class="fa">&#xf0fe;</i></a>
    </footer>
  </div>
</html>
