<% include ../partials/header %>

<h2>Create a post</h2>
<div class="container">
  <form action="/posts" method="POST">
    <div class="input-group">
      <div id="new-image">
      </div>
    </div>
    <div class="input-group">
      <label>User: </label>
      <select name="user_id">
        <% users.forEach(user => { %>
          <option value="<%= user.id %>"><%= user.name %></option>
      <% }) %>
      </select>
    </div>
  <div class="input-group">
   <label>Image: </label>
   <input id="photo-url" type="text" name="photo_url" size="70" placeholder="Insert image url here..." required>
  </div>
  <div class="input-group">
   <label>Description: </label>
    <textarea rows="10" cols="50" name="description" placeholder="Add your description here..."></textarea>
  </div>
  <div class="input-group">
   <button type="submit" class="btn"><i style="font-size:30px" class="fa new">&#xf0fe;</i></button>
  </div>
  </form>
</div>

<% include ../partials/footer %>

