<% include ../partials/header %>

  <p>
    <!-- <%= post.user_id %>, <%= post.published_at %> -->
    Hello!
  </p>
<p>
  <img src="<%= post.photo_url %>">
</p>
<p>
  <!-- <%= post.description %> -->
  My name is Alex!
</p>

<% include ../partials/footer %>
